.forgot-pass {
  width: 100vw;
  height: 100vh;
  padding: 38px 41px;

  &__body {
    display: flex;
    align-items: center;
    height: 100%;
  }

  // giữ nguyên layout bên trái
  &__left {
    width: 51%;
    height: 100%;
    position: relative;

    .forgot-pass__background {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .forgot-pass__intro {
      position: absolute;
      left: 45px;
      bottom: 31px;

      &--title {
        color: var(--color-white);
        font-size: 3.7rem;
        font-weight: 700;
        line-height: 1.6;
      }

      &--description {
        color: var(--color-white);
        font-size: 2.5rem;
        font-weight: 400;
      }
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 454px;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__description {
    color: var(--color-gray-two);
    line-height: 1.3;
    margin-bottom: 24px;
  }
}

// giữ style lỗi mặc định của antd
.ant-form-item-explain-error {
  text-align: left;
}

@media (max-width: 1024px) {
  .forgot-pass {
    &__left {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .forgot-pass {
    &__form {
      width: 90%;
    }
  }
}